---
layout: page
title: Blog
permalink: /blog/
feature-img: "assets/img/posts.png"
---

<style>
    .post:not(:last-of-type) {
        padding-bottom: 30px;
        border-bottom: solid black 2px;
    }
</style>

{% for post in site.posts %}
<div class="post">
    <h1>
        <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
            {{ post.title }}
        </a>
    </h1>
    {% include post_info.html author=post.author date=post.date %}
    {% if site.excerpt or site.theme_settings.excerpt %}
    <div class="excerpt">
        {% if site.excerpt == "truncate" %}
        {{ post.content | strip_html | truncate: '250' | escape }}
        {% else %}
        {{ post.excerpt | strip_html | escape }}
        {% endif %}
    </div>
    {% endif %}
</div>
{% endfor %}